*{
    font-family: fnt-01 !important;
}
#main {
    padding: 3.5em 1em;
}

.pre-form-info p {
    font-family: fnt-01 !important;
}

.pre-form-info p:nth-child(1) {
    font-size: 1.3em;
    margin: .3em 0;
}

.pre-form-info p:nth-child(2),
.pre-form-info p:nth-child(3) {
    font-size: .8em;
}

#reg-info {
    background-color: #1D1D1D;
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    border-radius: .5em;
    font-size: .6em;
}

#login-form-selection-type-holder {
    width: 90%;
    border: 1px solid blue;
    justify-content: space-around;
    padding: .4em .2em;
    border-radius: .5em;
    margin: .5em auto;
}

.form-selector {
    width: 32.8%;
    height: fit-content;
    border-radius: .5em;
    padding: .7em;
    transition: .2s ease-in;
    font-size: .7em;
}

.form-selector:hover {
    box-shadow: 0 0 4px #eef9;
    background-color: #10109a66;
}

.select-on {
    background-color: #10109a;
    border: 1px solid #eef;
    box-shadow: 0 0 5px inset;
}

.otp-in-container {
    margin: 2em auto;
    width: fit-content;
    height: 10vw;
    gap: .4em;
}

.otp-in {
    text-align: center;
    width: 12vw;
    height: 12vw;
    padding: auto;
    min-width: 0;
    min-height: 0;
    font-size: 1em;
    border: 1px solid #99f;
    border-radius: .5em;
    box-shadow: 0 0 2px inset, 0 0 2px;
}
.otp-reject{
    border: 1px solid #ee2a2a;
    box-shadow: none;
}

.otp-in:focus {
    outline: none;
}

.resend-container {
    width: fit-content;
    gap: .5em;
    margin: 1em auto;
    align-items: center;
    font-family: fnt-01;
    /* border: 1px solid green; */
}

#resend-otp-btn {
    /* border: 1px solid #99f; */
    padding: .5em;
    border-radius: .5em;
}

#create-account-button {
    margin-top: calc(55vh - 10em);
}