body{
    background-color: #0D022D !important;
}
main{
    padding: .5em;
}
*{
    font-family: fnt-01 !important;
}
.pr-inf{
    margin-bottom: 1em;
    gap: 0;
}
.ver-status{
    font-family: fnt-01;
    font-size: 1.5em;
    text-align: center;
}
.aft-ver-status{
    text-align: center;
    font-size: .7em;
}
.cl-det{
    width: fit-content;
    align-items: center;
}
.cnnc{
    text-align: left !important;
    width: 100%;
    margin: .1em auto !important;
}
.cl-det span:nth-child(1){
    font-size: .7em;
}
.cl-det span:nth-child(2){
    margin: 0 .8em;
    font-size: .7em;
}
.ver-avatar-container{
    margin: 16vh 0;
}
.ver-avatar{
    margin: 0 auto;
    border-radius: 50%;
    height: 10em;
    width: 10em;

    /* custom background since avatar not ready */
    background-color: #bbbbee62;
    backdrop-filter: blur(10px);
}

.ver-actions a{
    display: block;
    width: 100%;
}
.ver-actions button{
    display: block;
    width: 100%;
    margin: .5em 0;
    font-size: 1em;
    padding: 1em;    
    border-radius: .7em;
    text-align: left;
    position: relative;
}
.ver-actions button i{
    position: absolute;
    right: 1em;
}

.ver-form{
    padding: 1em .3em;
}
.t2-ver-inp{
    width: 100%;
    padding: .7em 1em;
    border: 1px solid #455A64;
    border-radius: .5em;
    margin-bottom: 1em;
    /* letter-spacing: .1em; */
    font-size: 1em;
    font-family: fnt-01;
}
.t2-ver-inp:focus{
    outline: none;
    box-shadow: 0 0 3px inset;
}
.inp-haul{
    position: relative;
    height: fit-content;
}
.inp-haul .custom-placeholder-text{
    position: absolute;
    padding: 0 .5em;
    top: -.7em;
    left: 1.3em;
    font-size: .7em;
}
.inp-haul .extra-icon{
    position: absolute;
    right: 1em;
    top: .7em;
}

.file-input{
    width: 60vw;
    margin-bottom: 1em;
}
.file-input .head{
    font-size: 1em;
    margin-bottom: .8em;
    width: 95vw;    
}
.file-input .info{
    font-size: .5em;
    width: 95vw;
    padding-bottom: 2em;
}
.file-input .info span{
    margin-left: .5em;
}

.t2-label{
    position: relative;
    font-family: fnt-01;
}

.styled-file-picker{
    /* position: absolute; */
    width: 100%;
    /* border: 1px solid red; */
    align-items: center;
    gap: .5em;
}
.styled-file-picker span:nth-child(2){
    font-size: .7em;
    margin-left: .4em;
}
.t2-label .file-picker{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* border: 1px solid black; */
}

.custm-select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.error{
    font-size: .6em;
    padding-left: .5em;
    display: block;
    text-align: right;
}
.ctmp-cont{
    text-align: center;
    margin-top: 20vh;
    padding: 1em;
}
.ctmp-cont p{
    font-size: .7em;
    margin: 2em;
    font-weight: lighter;
}
.ctmp-cont p:nth-child(1){
    margin-bottom: 3em;
    font-weight: 600;
    font-size: 1.2em !important;
}
