main{
    padding: .5em 1em;
    font-family: fnt-01;
}
main >p:nth-child(1){
    font-size: .8em;
}
form{
    margin-top: 4em;
}
form >div:nth-child(2){
    gap: 1em;
}
.end{
    margin-top: 10em;
    text-align: center;
}
.end p{
    font-size: .8em;
    margin-top: -1em;
}