main{
    padding: 1.5em;
}
.head {
    align-items: center;
    margin-bottom: 2em;
}
.edit-prof-pic{
    width: fit-content;
    margin-top: 1em;
    padding: .3em;
    font-size: .8em;
    font-family: fnt-01;

}
.edit-prof-pic span{
    margin: 0 1.2em;
}