main{
    margin-top: 7em !important;
    font-family: fnt-01;
}
#MTF-main-content{
    padding: 1em .9em;
}
#MTF-main-content > *{
    margin: .4em auto;
}
#content-info-txt p{
    font-size: .6em;
    margin-top: 1em;

}
.returns-sect{
    padding: .6em;
    box-shadow: 0px 1px 20px 0px #E3DEFF1A inset;
    box-shadow: 0px 2px 2px 0px #9A92D205 inset;
    box-shadow: 0px -82px 10px -64px #6044900A inset;
    box-shadow: 0px 0px 15px #ffffff2f inset;
    font-family: fnt-01;
    border-radius: .5em;
}
.returns-sect .l1{
    font-size: .8em;
    margin-bottom: .9em;
}
.returns-sect .l2{
    font-size: .9em;
}
.returns-sect .l3 span{
    font-size: .4em;
}
.returns-sect .l3 a{
    font-size: .5em;
}
.returns-sect .l4{
    gap: .9em;
    margin-top: 1em;
}
.returns-sect .l4 div{
    border-radius: .5em;
    padding: .5em;
}
.returns-sect .l4 .topic{
    font-size: .7em;
}
.returns-sect .l4 .amt{
    font-size: .6em;
}
.overviews{
    padding: 1em 0;
}
.overview{
    border: 1px solid #455A64;
    border-radius: .5em;
    padding: .5em;
    margin-bottom: .6em;
    align-items: center;
}
.overview .topic{
    font-size: .6em;
}
.overview .fund{
    font-size: .7em;
}

.fund-typ{
    border: 1px solid #455A64;
    border-radius: .5em;
    padding: 1em;
    margin: 1.4em auto !important;
}
.fund-typ .main{
    flex-grow: 2;
}
.fund-typ .top{
    margin-bottom: .8em;
    min-height: 6em;
}
.fund-typ .amt{
    font-size: .8em;
}
.fund-typ .trend{
    font-size: .6em;
}
.fund-typ .topic{
    font-size: .9em;
}
.fund-typ .bottom p:nth-child(1){
    font-size: .7em;
}
.fund-typ .bottom p:nth-child(3){
    font-size: .5em;
}
.fund-typ .yield{
    width: fit-content;
    gap: 1.3em;
    align-items: baseline;
}
.fund-typ .duration{
    width: fit-content;
    gap: .5em;
}
.fund-typ .duration button{
    box-shadow: 0px 0px 15px #ffffff2f inset;
    padding: .3em;
    border-radius: .3em;
}
.fund-typ .nav{
    position: relative;
    align-items: center;
}           
.fund-typ .nav .lock{
    position: absolute;
    top: .7em;
}


.copilot-cont{
    width: fit-content;
    margin-left: 0 !important;
    gap: 1em;
    align-items: center;
}
.copilot-cont span{
    font-size: .5em;
}
#markets{
    /* gap: .5em; */
    gap: .2em;
}
.cam{
    font-size: .4em;
    padding: .5em 0;
}
#markets button{
    border: 1px solid #455A64;
    border-radius: .5em;
    font-size: .5em;
    padding: .5em;
    gap: .4em;
    align-items: center;
    
}
#markets .indicator{
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background-color: #455A64;
    border-radius: 50%;
    border: 2px solid #455A64;
}
#markets .on{
    background-color: #109826;
}
.investment-section{
    margin: 1.5em auto !important;
}
#investments{
    display: grid;
    grid-template-columns: 94% 4%;
    gap: 1%;
}
#investments .to-next{
    
}
#investments .to-next button{
    border: 1px solid #455A64;
    height: 100%;
    padding: .4em;
    align-items: center;
    border-radius: .5em;
}
.inv{
    flex-grow: 2;
    border: 1px solid #455A64;
    border-radius: .5em;
    padding: .5em;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
.inv > *{
    height: 100% !important;
    margin: 0 0;
}

.inv .head{
    gap: .5em;
}
.inv .topic{
    font-size: .8em;

}
.inv .dur{
    font-size: .4em;
}
.inv .mid{
    font-size: .8em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.inv .interest{
    font-size: .8em;
    margin-top: 1em;
}
.inv .inv-status{
    font-size: .5em;
}
.inv .end{
    text-align: center;
    gap: 1em;
}
.no-investment-info{
    text-align: center;
    font-size: .9em;
}

.alt-inv{
    font-size: .5em;

}

#main-overview-list{
    margin: 1em auto;
}
.ov-main{
    box-shadow: 0px 1px 20px 0px #E3DEFF1A inset;
    box-shadow: 0px 2px 2px 0px #9A92D205 inset;
    box-shadow: 0px -82px 10px -64px #6044900A inset;
    box-shadow: 0px 0px 15px #ffffff2f inset;
    border-radius: .5em;
    padding: .5em;
    margin: .5em 0;
}
.ov-main .left{
    width: 4em;
    height: 4em;
    background-color: #ffffff65;
    border-radius: .5em;
}
.ov-main .mid{
    padding-top: 1em;
    text-align: center;
    position: relative;
}
.ov-main .topic{
    font-size: .7em;
    margin-bottom: 1em;
}
.ov-main .tags-c{
    gap: 1em;
    position: absolute;
    bottom: 0;
}
.ov-main .tag:nth-child(1){
    font-size: .55em;
}
.ov-main .tag:nth-child(2){
    font-size: .5em;
}
.ov-main .right{
    padding-left: 1em;
    position: relative;
}
.ov-main .inf{
    align-items: center;
    gap: .5em;
}
.ov-main .inf button{
    border: 1px solid #455A64;
    border-radius: .4em;
    padding: .3em;
    font-size: .7em;
}
.ov-main .stat-label{
    display: inline-block;
    width: .9em;
    height: .9em;
    /* background-color: red; */
    border-radius: 50%;
    background-color: red;
    border: 4px solid #6F6F70;
}
.ov-main .trend{
    font-size: .5em;
    position: absolute;
    bottom: .5em;
    right: 3em;
}
.ov-main .trend-graph{
    width: 100%;
    position: absolute;
    background-color: #77ff7709;
    height: 100%;
    left: 0;
    color: #ffffff11;
    text-align: center;
    font-size: .8em;
}
.ov-main .trend-graph span{
    transform: rotate(45deg);
}
