main{
    padding: 1.5em .5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info{
    padding: 1em .5em;
    background-color: #1e1e1e;
    gap: .7em;
    align-items: flex-start;
}
.messg{
    gap: 1em;
}
.messg p:nth-child(1){
    font-size: 1em;
}
.messg p:nth-child(2){
    font-size: .8em;
}
.items-cont{
    display: grid;
    grid-template-rows: 2em 2em;
    grid-template-columns: 50% 50%;
    padding: 1em;
}
.items-cont div{
    gap: .5em;
    align-items: center;
    width: fit-content;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}