main{
    padding: 1.5em 1em;
}

.head{
    text-align: center;
    border: .01cm solid #eef;
    border-radius: 1em;
    padding: 1em;
    font-family: fnt-01;
    align-items: center;
}
.head div{
    margin: .3em;
}
.head div:nth-child(1) span:nth-child(2){
    font-size: 1em;
    margin: .3em 0;
}
.usr-det{
    font-size: .9em;
}
.head div:nth-child(2){
    font-size: 1.3em;
    color: #aea308;
} 

.body{
    margin: 1em 0;
}

.set-cust-list{
    list-style-type: none;
}

.set-cust-list a li{
    border: .01cm solid #eef;
    padding: .7em .5em;
    border-radius: .5em;
    margin: .7em 0;
    font-size: 1em;
    font-family: fnt-01;
}